.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 58.125rem;
    width: 100%;
}
.summer-post-author {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    text-align: center;
    width: 100%;
    position: relative;
    float: left;
}
.summer-post-author .author-label {
    display: block;
    font-size: 1rem;
    color: gray;
    font-style: italic;
}
.summer-post-author .summer-post-author-avatar {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    float: none;
    margin-right: 0;
    margin-bottom: 1.25rem;
}
@media only screen and (min-width: 40.063em) {
    .summer-post-author .summer-post-author-avatar {
        margin-right: 3.125rem;
        margin-bottom: 0;
        float: left;
    }
}
